body {
  font-family: sans-serif;
  font-size: $size-text;
  line-height: 1.5;
  background-color: $c-fond;
  color: $c-text;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


///////////////////////////////:

/*Transition*/

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $c-fond;
  z-index: 100000000;
  border-bottom: 1px solid #fff;
  transition: transform 0.6s ease-in-out;
  animation: intro 1s ease-out forwards;
}

@keyframes intro {
  0%{
      transform: translateX(0%)
  }

  100%{
      transform: translateX(100%)
  }
}


///////////////////////////////:

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  z-index: -1;
  position: relative;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

///////////////////////////////:NOISE

#noiseCanvas {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.08;
  pointer-events: none;
  z-index: 9999;
}

///////////////////////////////: section Grille Fond

.section__grille{
  position: absolute;
  z-index: -1;
  top: clamp(4.6875rem, 2.8542rem + 8.1481vw, 10.1875rem);
  opacity: 0.5;

  div{
    display: flex;
    height: 200px;
    div{
      width: 33.333%;
      height: 200px;
      border:1px solid #fff;
    }
  }

}

///////////////////////////////:NAV 


.section__nav{
  height: clamp(4.6875rem, 2.8542rem + 8.1481vw, 10.1875rem);
  border: 1px solid #fff;
  background-color: #0000001e;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  backdrop-filter: blur(8px);
  width: 100%;
  z-index: 99900;

  div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      padding-left: clamp(1.375rem, 0.875rem + 2.2222vw, 2.875rem);
      position: relative;
      z-index: 99999999999999;

      p{
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: bold;
        font-style: normal;
        letter-spacing: -5%;
        font-size: clamp(1.25rem, 0.7083rem + 2.4074vw, 2.875rem);
      }

    }

    .button_nav{
      padding-right: clamp(1.375rem, 0.875rem + 2.2222vw, 2.875rem);
      transition: 0.3s;
      text-transform: capitalize;
      opacity: 0;
      pointer-events: none;

      @media ( min-width: 1080px){
        opacity: 1;
        pointer-events: all;
    
      }

      a{
        color: $c-text;
        text-decoration: none;
        padding-right: 1Opx;

        :hover{
          border-right:1px solid #fff;
          transition: 0.3s;
        }
      }
    }
  }
}


///////////////////////////////: element graphique
/// 
.element__graphique{
  background-image: repeating-linear-gradient(
    45deg,            /* diagonale */
    rgb(255, 255, 255) 0px,        /* ligne noire */
    rgb(255, 255, 255) 10px,        /* épaisseur de la ligne */
    transparent 2px,  /* début de l’espace */
    transparent 20px  /* fin de l’espace = grand écart */
  );
  opacity: 0.3;
}
///////////////////////////////////:font p


p{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


///////////////////////////////:SECTION

.section{
  width: 100vw;
  height: auto; 
}

.section__header{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .element__graphique{
    background-image: repeating-linear-gradient(
      45deg,            /* diagonale */
      rgb(255, 255, 255) 0px,        /* ligne noire */
      rgb(255, 255, 255) 10px,        /* épaisseur de la ligne */
      transparent 2px,  /* début de l’espace */
      transparent 20px  /* fin de l’espace = grand écart */
    );
    opacity: 0.3;
  }

  .img__background{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .grille{
    height: 683px;
    width: clamp(22.5rem, -0.0104rem + 100.0463vw, 90.03125rem);
    position: relative;
    z-index: -1;


    img{
      position: absolute;
      object-fit: cover;
    }

  }

  .title_P{
    width: clamp(19.75rem, 5.9375rem + 61.3889vw, 61.1875rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 10rem 5rem 10rem;
    //border:1px solid #fff;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      h2{
        font-size: clamp(3.625rem, 0.875rem + 12.2222vw, 11.875rem);
        margin: 0;
        padding: 0;
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      .img__title__header{
        width: clamp(8.729375rem, 2.91rem + 25.8639vw, 26.1875rem);
        height: clamp(4.6875rem, 1.5625rem + 13.8889vw, 14.0625rem);
        border-radius: 5%;
        animation-delay: 6s;
        animation: img_header 0.4s ease-out forwards;
        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }

        @keyframes img_header {
          0%{
            width: 0%;
          }

          100%{
            width: 100%;
          }
          
        }
      }
    }
    p{
      font-size: clamp(0.6875rem, 0.5417rem + 0.6481vw, 1.125rem);
      span{
        color: $c-cl;
        text-transform: uppercase;
        font-weight: 800;
      }
    }
  }

  .bottom__header{
    display: flex;
    flex-direction: column;
    border-top:1px solid #fff ;
    border-bottom:1px solid #fff ;
    width: 100%;
    position: absolute;
    bottom: 0;
    @media ( min-width: 780px){
      flex-direction: initial;
      
    }


    .picto{
      height: 100%;
      width: 160px;
      background-color: aquamarine;
    }

    .date{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      @media ( min-width: 780px){
        width: clamp(22.5rem, 22.0625rem + 1.9444vw, 23.8125rem);
      }

      div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #fff;

        .light{
          padding-left: 0.5rem;
        }

        .bold{
          padding-right: 0.5rem;
        }  
      }

      .bold{
        font-weight: 700;
        font-size: 20px;
      }

      .element__graphique{
        width: 100%;
        height: 100%;
      }
    }

    .spitch{
      font-size: 16px;
      width: 100%;
      border-right: 1px solid #fff;

      p{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      @media ( min-width: 780px){
        width: clamp(22.5rem, 19.1458rem + 14.9074vw, 32.5625rem);
      }
    }

    .element__graphique{
      height: 100%;
    }

  }
}

.section__miseSituation{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid #fff;

  p{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  @media ( min-width: 780px){
    flex-direction: initial;
    align-items: center;
    justify-content: space-between;
  }
  .element__graphique{
    width: 100%;
    height: 130px;
    margin: 0;
    padding: 0;

    @media ( min-width: 780px){
      width: 301px;
      height: 50rem;
    }
  }

  .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: clamp(19.8125rem, 11.375rem + 37.5vw, 45.125rem);
      font-size: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);

      @media ( min-width: 780px){
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    }


    
  }
}

.section__puce{
  margin-top: 7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: clamp(5.875rem, 0.7083rem + 22.963vw, 21.375rem);
    letter-spacing: -13%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .block_txt_img{
    display: flex;
    align-items: center;
    flex-direction:column-reverse;
    justify-content: space-between;
    width: clamp(22.5rem, 4.1042rem + 81.7593vw, 77.6875rem);

    @media ( min-width: 810px){
      flex-direction: initial;
      align-items: end;
    }

    p{
      width: clamp(19.75rem, 15.4792rem + 18.9815vw, 32.5625rem);
      font-size: 16px;
      margin: 0;
      padding: 0;
    }

    img{
      width: clamp(19.75rem, 15.4583rem + 19.0741vw, 32.625rem);
      height: clamp(9.496875rem, 7.4333rem + 9.1713vw, 15.6875rem);
      object-fit: cover;
      background-color: brown;
      margin-bottom: 3rem;

      @media ( min-width: 810px){
        margin-bottom: 0rem;
      }
    }

  }
  .big_el{
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    bottom: 0;
    top:50%;
    left: -27%;
    animation: animate 20s linear infinite;
    width: clamp(18rem, 5.2083rem + 56.8519vw, 56.375rem);
    height: auto;

    @media ( min-width: 810px){
      top: 70%;
      transition: 0.3;
    }

    @keyframes animate {
      0%{
        transform: rotate(0deg);
      }
    
      100%{
        transform: rotate(360deg);
      }
      
    }
  }
}

.section__userFlow{
  padding-top: clamp(4.6875rem, 2.8542rem + 8.1481vw, 10.1875rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  @media ( min-width: 810px){
    margin-top: 30rem;
  }

  .userFlow{
    margin-bottom: 5rem;
    width: clamp(19.75rem, -1.625rem + 95vw, 83.875rem);
    display: flex;
    flex-direction: column;

    @media ( min-width: 810px){
     
      flex-direction: initial;
      justify-content: space-between;
    }

    .txt{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid #fff;

      .info{

        padding-top: 2rem;
        padding-left: clamp(1.375rem, -0.2292rem + 7.1296vw, 6.1875rem);

        h3{
          font-size: 24px;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }

        .ville{
          font-weight: 800;
        }
  
        p{
          font-size: 16px;
          line-height: 1.3;
        }
      }
  
      .element__graphique{
        display: flex;
        align-content: end;
        margin-top: 5rem;
        width: 100%;
        height: clamp(5.088125rem, 3.8727rem + 5.4019vw, 8.734375rem);
        padding-left: clamp(1.375rem, -0.2292rem + 7.1296vw, 6.1875rem);
        display: none;

        @media ( min-width: 810px){
          padding-left: 0;
          display: block;
          width: clamp(22.5rem, 17.125rem + 23.8889vw, 38.625rem);
        }
      }
    }
  
    a{
      width: clamp(19.73875rem, 11.3004rem + 37.5037vw, 45.05375rem);
      height: clamp(11.0625rem, 6.3333rem + 21.0185vw, 25.25rem);
      padding: 0;
      margin: 0;
      transition: 0.3s;
      :hover{
        opacity: 0.5;
        filter: blur(4px);
        transition: 0.3s;
      }
      img{
        height: clamp(11.0625rem, 6.3333rem + 21.0185vw, 25.25rem);
        width: 100%;
        object-fit: contain;

        @media ( min-width: 810px){
          height: 100%;
        }
      }
    }
  }

  
}



footer{
  position: relative;
  bottom: 0;
  .section__footer{
    position: absolute;
    z-index: -1;
    top: clamp(4.6875rem, 2.8542rem + 8.1481vw, 10.1875rem);
    opacity: 0.5;
  
    div{
      display: flex;
      height: 200px;
      div{
        width: 33.333%;
        height: 200px;
        border:1px solid #fff;
      }
    }

    .logo{
      display: flex;
      align-items: end;
      justify-content: left;
      position: relative;

      h1{
        font-size: clamp(1.25rem, 0.7083rem + 2.4074vw, 2.875rem);
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: bold;
        font-style: normal;
        letter-spacing: -5%;
      }
    }

    .nav__footer{
      display: flex;
      flex-direction: column;
      padding-left: 0.5rem;
      a{
        color: $c-text;
        text-decoration: none;

        :hover{
          color: $c-cl;
        }
      }
    }

    .copy{
      font-size: 13px;

      >*{
        padding-top: 0.3rem;
      }
    }
  
  }
}

///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////


.section__header_Userflow{
  .img__background{
    opacity: 0.2;
    filter: blur(4px);
  }

  .contenu_principale{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media ( min-width: 810px){
      flex-direction: column;
      margin-top: 13rem;
    }
    .small{
      width: 100%;
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
    }
    .big{
      position: relative;
      width: 49,3%;
      display: flex;
      align-items: center;
      justify-content: center;

      .element__graphique{
        width: clamp(7.0625rem, 3.1458rem + 17.4074vw, 18.8125rem);
        height: clamp(3.27875rem, 1.4602rem + 8.0824vw, 8.734375rem);
        position: absolute;
      }

      .element__graphique_01{
        top: 2%;
        left: -20%;
      }

      .element__graphique_02{
        top: 81%;
        right: -15%;
        z-index: -1;
      }

      img{
        position: relative;
        padding-top: 10%;
        width: clamp(22.5rem, 15.2083rem + 32.4074vw, 44.375rem);
        height: clamp(14.0625rem, 9.5417rem + 20.0926vw, 27.625rem);
        object-fit: cover;
        margin-bottom: 4rem;
        transition: 0.4s;
      }

      img:hover{
        scale: 1.4;
        transition: 0.4s;
        z-index: 9999999999999999999999;
      }
    }

    .typeDelit{
      margin-top: 5rem;
      width: 100%;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;   

      @media ( min-width: 910px){
        flex-direction: initial;
        padding: 1rem 0rem;
        padding-left: 3rem;
      }

      p{
        font-size: clamp(1rem, 0.7292rem + 1.2037vw, 1.8125rem);
        width: clamp(19rem, 6.2708rem + 56.5741vw, 57.1875rem);
      }  
    }
  }
}